---
import Layout from '../layouts/Layout.astro';
import WorkflowBuilder from '../components/WorkflowBuilder'
---

<Layout title="Yamal - Workflow Builder">
  <main class="app-container">
    <WorkflowBuilder client:load />
  </main>
</Layout>

<style is:global>
  html, body, .app-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
</style>
