---
import Layout from '../layouts/Layout.astro';
import WorkflowBuilder from '../components/WorkflowBuilder'
---

<Layout title="Yamal - Workflow Builder">
  <main>
    <h1>Dwr</h1>
    <p>Drag and drop YAML workflow builder</p>
    <WorkflowBuilder client:load />
  </main>
</Layout>
